/*--------------------------------------------------------------
Project
--------------------------------------------------------------*/
.l-header {
  margin: 0 1em 1em 1em;
  padding: 1em 1em;
  border-bottom: 1px solid #aaa;
}

.description__ttl {
  font-size: 1.2em;
  margin: 1em 0;
}
.description__txt {
  line-height: 1.2em;
}
